@import "{{ site.theme }}";
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
ul {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    margin: 10px 0;
    font-size: 15pt;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #4183C4;;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    /*color: #003399;*/
}

h3 {
    font-size: 1.5em;
    //font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    /*color: #003399;*/
}

p {
    font-size: 15pt;
    //line-height: 1.4em;
    //color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 15pt;
}

ul.posts li {
    list-style: none;
}
